/** @format */
$acent-color: #ece5db;
$base-color: #f9f9f9;
$primary-color: #2b6856;
$secondary-color: #fbcb5f;
$dark-color: #080b12;
$light-color: #fff;
$danger-color: #ea6a47;
$success-color: #33a852;
$warning-color: #f9bb01;
$info-color: #0091d5;
$text-color: #7e909a;
$max-width: 1100px;

// FONT & STYLES WEIGHTS
$font-weights: (
  light: 300,
  regular: 400,
  medium: 600,
  bold: 700,
  black: 800,
);

$fonts-size: (
  xxs: 0.7rem,
  xs: 0.8rem,
  sm: 0.9rem,
  md: 1rem,
  lg: 1.3rem,
  xl: 2rem,
  xxl: 2.6rem,
);

$font-cases: (
  upper: uppercase,
  lower: lowercase,
  capital: capitalize,
);

$padding: 15px;

$height: 30 / 30 * 1em;
$width: 72 / 30 * 1em;
$transition-default: 0.25s ease-out 0.1s;

// FONT-WEIGHT
@function font-weight($weight-name) {
  @return map-get($font-weights, $weight-name);
}

// FONT-SIZE
@function font-size($size) {
  @return map-get($fonts-size, $size);
}

// FONT CASE
@function font-case($case) {
  @return map-get($font-cases, $case);
}

// Set text color based on background
@function set-text-color($color) {
  @if (lightness($color) > 60) {
    @return $dark-color;
  } @else {
    @return $light-color;
  }
}

// Set background & text color
@mixin set-background($color) {
  background-color: $color;
  color: set-text-color($color);
}
