label {
  font-weight: font-weight(medium);
}

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  width: 100%;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  border: 1px solid #ddd;
}

// Validations
label {
  &.error {
    color: $danger-color;
    font-size: font-size(xs);
    display: block;
  }
}

input.valid.success-alert {
  border: 1px solid $success-color;
  color: $success-color;
}

input.error,
textarea.error {
  border: 1px dashed $danger-color;
  font-weight: font-weight(medium);
  color: $danger-color;
}
