/** @format */

@import "./media";

h1 {
  font-size: font-size(xxl);
  line-height: 1.5;
}
h2 {
  font-size: font-size(xl);
}
h3 {
  font-size: font-size(lg);
}
h4 {
  font-size: font-size(md);
}
h5 {
  font-size: font-size(sm);
}
h6 {
  font-size: font-size(xs);
}

.main-heading {
  font-size: font-size(xxl);
  margin-bottom: 1rem;
  font-weight: font-weight(medium);
  @include tablet {
    font-size: font-size(xl);
  }
}
